<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet');

#new-interview-full{
    background-color:  #f3a55d;
    padding: 1.2rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    // box-shadow: 3px 3px 8px grey;
    font-family: 'Ubuntu', sans-serif;
}

.new-interview-input-group {
    
    display: flex;
    justify-content: space-around;
    padding: 10px;
    
}
=======
#new-interview-full{
    background-color: rgb(255, 194, 137);
    padding: 1rem;
}
>>>>>>> a79a8b5ccb0eb6399b03c54354142fe83ede5f71
