// @import 'components/pokemon/pokemon-card/pokemon-card.scss';

/************************************
register.component.tsx
************************************/
.reg-form{
  
}
/************************************
          login.component.tsx
************************************/
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

.frontDiv {
  z-index: 3;
  position: absolute;
}

.behindDiv {
  z-index: 2;

}

.box input {
  margin-left:0;
  -webkit-transition: 1s;
          transition: 1s;
}

.txt-bx{
  width: 250px;
}


.rememberDiv {
  margin:auto;
  display: flex;
  justify-content: center;
  // margin-left:  15%;
   margin-top: 20px;
  border-bottom:solid rgb(245, 139, 0) 4px;
}

.resetDiv {
  margin:auto;
  display: flex;
  justify-content: center;
}
#h6-rem {
  margin-left: -100%;
  white-space: nowrap;
  font-size: 15px;
}
.rememberSpan {
  
  display: inline;
  float: none;
}

#rememberCheck {
  display: inline;
}

#titleHead{
  margin:auto;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

#forgotBut{
  color: blue;
  margin-top: 30px;
  border: none;
  text-align: center;
  background-color: transparent;
  -webkit-transition: 1s;
          transition: 1s;
}

#passBut, #confPassBut {
  opacity: 0;
  position: absolute;
  margin-top: 45px;
  border: none;
  background-color: white;
  margin-left: -22%;
  -webkit-transition: 3s;
          transition: 3s;
}

#invalidCredHead {
  color: red;
  text-align: center;
  padding-top: 10px;
}


#userBut, #newPassBut {
  border: none;
  background-color: white;
  margin-left: -22%;
  -webkit-transition: 1s;
          transition: 1s;
  
}

#newPassBut {
  margin-top: 21%;
}

#userBut{
  margin-top: 18%;
}

#user, #pass {
  padding-right: 50px;
}


// variables can be declared and later reused
$revature-orange: #f26925;

// mixins are reusable styles that can be included in other places
@mixin flex-col {
  display: flex;
  flex-direction: column;
}

/* @include transition(all,2s,ease-out); */
@mixin transition($what: all, $time: 0.2s, $how: ease-in-out) {
  -webkit-transition: $what $time $how;
  -moz-transition:    $what $time $how;
  -ms-transition:     $what $time $how;
  -o-transition:      $what $time $how;
  transition:         $what $time $how;
}


body {
  margin: 0;
  padding: 0;
  background: #eb7c15; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #f8d6b6, #acc5c9);
  background: -webkit-linear-gradient(right, #e7d6c7, #8bdde7);
  background: -moz-linear-gradient(right, #e2d0be, #eaf1f1);
  background: -o-linear-gradient(right, #eec5a0, #e1e9eb);
  background: linear-gradient(to left, #f3a55d, #e1e7e7);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


#main-content-container {
  @include flex-col;
  width: 100%;
  align-items: center
}

.rev-btn {
  background-color: $revature-orange;
  border-color: $revature-orange;
  color: black;
  &:hover {
    background-color: white;
    border-color: $revature-orange;
    color: $revature-orange;
  }
  &:active {
    background-color: $revature-orange;
    color: black;
    box-shadow: 0 0 0 0.2rem rgba($revature-orange, 0.5);
  }
  &:active, &:focus {
    box-shadow: 0 0 0 0.2rem rgba($revature-orange, 0.5);
  }
}



/*****************************
  NAV
*****************************/

.nav-dropdown {
  background-color: unset;
  border: unset;
  color: black;
  &:hover {
    background-color: unset;
    border: unset;
    color: black;
  }
  &:active {
    background-color: unset !important;
    border: unset !important;
    color: black !important;
  }
  &:active, &:focus {
    box-shadow: 0 0 0 0.2rem rgba($revature-orange, 0.5);
  }
}

.rev-logo {
  width: auto;
  height: 2em;
  margin-right: 2em;
}

.margin-nav {
  margin-right: 2em
}


.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: rgba(0,0,0,.7);
}

.navbar-expand-md .navbar-nav .nav-link {
  padding-right: .75rem !important;
  padding-left: .75rem !important;
}

.bg-light {
  background-color: #ffffff !important;
}

.app-nav {
  border-bottom: 1px solid #ffffff !important;
  margin-bottom: 20px;
  -webkit-box-shadow: 1px -12px 28px -1px rgba(0, 0, 0, 0.87);
  -moz-box-shadow: 1px -12px 28px -1px rgba(0, 0, 0, 0.87);
  box-shadow: 1px -12px 28px -1px rgba(0, 0, 0, 0.87);
}

#examples-dropdown {
  cursor: pointer;
}

/*****************************
  Clicker
*****************************/
.blue {
  color: blue;
}

.red {
  color: red;
}


/*****************************
  Canvas
*****************************/
#my-canvas {
  border: solid 1px black;
  top:10%;
  left:10%;
}

.canvas-container {
  display: flex;
  flex-direction: row;
}

/*****************************
  TIC TAC TOE
*****************************/
.tic-tac-col {
  border: 1px solid black;
  font-size: 4em;
  text-align: center;
  min-height: 2em ;
  cursor: pointer;
  border-radius: 0.1em;

  &:hover {
    box-shadow: inset 0px 0px 0.5em 0px $revature-orange;
  }
}
#tic-tac-board {
  width: 75%;
  margin: 0.5em;
}

.not-allowed-cursor {
  cursor: not-allowed;
}

/*****************************************************
Manager Content
******************************************************/
.manager-content {
  width: 90%;
}
.page-numbers {
  display: flex;
  justify-content: flex-end;
}
